:root {
    /* change your prefered font here */
    --title-font: "Recursive Sans Casual Static";
    --text-font: "Recursive Sans Linear Static";
    --general-font-feature-settings: "calt", "ccmp", "kern", "salt" 0;
    --cjk-font: "Source Han Sans SC", "思源黑体 CN", "思源黑体";
    --mono-font: "Rec Mono Duotone", monospace;
    --fallback-font: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
}